/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: var(--main-text-size);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-text-weight);
}

.page__block {
  margin: 0 auto;
  background-color: var(--bg-color);
  inline-size: var(--block-size);
}

/* стилизация шапки */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px auto 97px;
  border: var(--border);
  /* из расчёта при моб. и деск. версии – (122px 130px), (16px 122.5px) */
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem) clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
  font-family: var(--accent-font);
  text-transform: uppercase;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/* стилизация списка карточек и карточек */

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: fit-content;
  margin: 0 auto 50px;
}

.cards-list__item {
  border: var(--border);
  border-bottom: var(--border);
}

.card__title {
  padding: 4px 10px;
  font-size: inherit;
  font-variation-settings: 'wght' var(--title-weight);
}

.card__media {
  position: relative;
  aspect-ratio: 1/1;
}

.card__media-label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: .5;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .card__media-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card__media-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  border-radius: 15px;
  padding: 30px;
  color: #fff;
  font-family: var(--accent-font);
  font-size: clamp(0.75rem, 0.618rem + 0.5634vw, 1.125rem);
  text-align: center;
  background-color: rgb(255 255 255 / 0.1);
  backdrop-filter: blur(8px);
  transform: translate(-50%, -50%);
  inline-size: clamp(21.875rem, 17.4736rem + 18.7793vw, 34.375rem);
}

.card__media-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* фильтры для изображений */

.contrast-image {
  filter: contrast(1.7) hue-rotate(20deg);
}

.grayscale-image {
  filter: contrast(1.2) grayscale(0.2);
}

.sepia-image {
  filter: sepia(0.6);
}

.blur-image {
  filter: blur(5px);
}

.brightness-image {
  filter: contrast(1.1) brightness(1.1);
}

.saturate-image {
  filter: saturate(1.7);
}

.saturate-little__image {
  filter: saturate(1.2);
}

.only-contrast__image {
  filter: contrast(1.2);
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  line-height: 21px;
}

.card__like-zone {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 5px;
  padding: 0px 25px 25px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0px;
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.like-icon {
  display: block;
}

.card__like-button {
  padding: 6px 22px;
  background-color: transparent;
  inline-size: 130px;
}

/* стили при эффектах */

.button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  border: var(--border);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

.button__text {
  position: relative;
  color: var(--button-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
  outline: none;
}

/* стилизация кнопки сохранения */

.save {
  margin-bottom: 100px;
}

.save-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: var(--border);
  padding: 15px 20px;
  color: var(--button-color);
  background-color: var(--bg-color);
  margin: 0 auto;
}

.save-icon {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

/* стилизация модального окна */

.popup {
  width: 353px;
  border: var(--border);
  padding: 30px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.popup[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.popup[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.popup__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.popup__save-icon {
  display: block;
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.popup__button {
  padding: 12.5px 132.5px;
  line-height: 90%;
  background-color: var(--bg-color);
}

/* стилизация анимированного сердца */

.sparks {
  opacity: 0;
}

.contour {
  transition: fill linear 0.1s;
}

.main-body {
  transition: fill linear 0.3s;
} 

.core {
  transition: fill linear 0.3s 0.03s;
}

.like-icon:hover .core {
  fill: var(--fill-color);
  transition: fill linear 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--fill-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-color);
  transition: fill linear 0.3s;
}

.like-icon:active .main-body {
  fill: var(--animation-color);
  transition: fill linear 0.3s 0.05s;
} 

.like-icon.is-liked .core {
  fill: var(--animation-color);
  transition: fill linear 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-color);
  transition: fill linear 0.3s 0.05s;
} 

.like-icon.is-liked .contour {
  fill: var(--animation-color);
  transition: fill linear 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: fill 0.3s 0.3s ease-in;
}

/* отображение при ширине экрана <= 375px */

@media (width <= 375px) {

  .header {
    margin-bottom: 100px;
  }

  .cards-list {
    border: none;
  }

  .card__description {
    padding: 20px 26px;
  }

  .save-button {
    flex-direction: column;
    padding: 17px 20px;
  }

  .save-icon {
    width: 28px;
    height: 28px;
  }

  .popup {
    width: 341px;
    padding: 30px 40px;
  }

  .popup__button {
    padding: 12.5px 116.5px;
    line-height: 90%;
    background-color: var(--bg-color);
}
}