/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable', 'Arial', sans-serif;
  --accent-font: 'PressStart2P', fantasy;
  --main-text-weight: 410;
  --title-weight: 715;
  --main-text-size: 18px;
  --main-color: #000;
  --button-color: #fff;
  --block-size: clamp(375px, 90vw, 700px);
  --text-stroke-color: #fff;
  --bg-color: #fff;
  --border: 2px solid #000;
}