/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable', 'Arial', sans-serif;
  --accent-font: 'PressStart2P', fantasy;
  --main-text-weight: 410;
  --title-weight: 715;
  --main-text-size: 18px;
  --block-size: clamp(320px, 100%, 1440px);
  --header-padding-block: 
}